POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=breezy_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MONGO_USER=admin
MONGO_PASSWORD=adminpassword
MONGO_DB=breezy_mongo
MONGO_HOST=localhost
MONGO_PORT=27018
