POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=breezy_db
POSTGRES_HOST=db-sql
POSTGRES_PORT=5432

MONGO_USER=admin
MONGO_PASSWORD=adminpassword
MONGO_DB=breezy_mongo
MONGO_HOST=db-mongo
MONGO_PORT=27017

JWT_SECRET=6e643fe2012afb97997479adf3651fb374198ca919f9cceb4b8853b39d936bf331972274de6412baef912f6db53db4680772e9a0ca4a67874a0ecd8ae34f7903

CORS_ORIGIN=http://localhost:3000/

MINIO_ROOT_USER=breezy
MINIO_ROOT_PASSWORD=breezy_password
MINIO_BUCKET=breezy-media
